langchain
langchain-community
langchain-groq
langchain-openai
langchain-cohere
langchainhub
langchain-experimental
langgraph
# https://www.datacamp.com/tutorial/langgraph-tutorial
langsmith
#fastembed==0.3.0
groq
fuzzywuzzy
rank-bm25
chromadb
gradio